*.o
GTAGS
GRTAGS
TAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
**/.dirstamp
install-sh
libtool
ltmain.sh
missing
**.m4
**/.deps/
src/ncmpcpp
stamp-h1
.cache/
compile_commands.json
